.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board {
  margin: auto;
  display: grid;
  column-gap: 3px;
  row-gap: 3px;
  max-width: 400px;
  margin-bottom: 1rem;
}

.cell {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px gray;
}
